@tailwind base;
@tailwind components;
@tailwind utilities;


.btn{
    @apply hover:scale-90 transition-all duration-300
}

.icon_font {
    font-family: "Grenze Gotisch", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2.1rem;
    color: rgb(216, 220, 223);
  }

/* w-[255px] */
.navbar{
    @apply h-screen w-fit transition-all duration-300
}

.navbar nav{
    @apply border-e border-gray-900 w-full py-7 px-2 lg:px-7
    transition-all duration-300 
}

.navbar nav p{
    @apply hidden lg:block
}



.nav-item{
    @apply  cursor-pointer flex  hover:bg-gray-900 transition-all 
    duration-200 rounded gap-4 mb-5 px-3 py-2 items-center justify-start 
    text-lg text-zinc-400 hover:text-white
}

.activePage{
    @apply lg:text-white md:font-bold bg-gray-900

}





.main_w{
    @apply w-[83%] md:w-[90%] lg:w-[73%]
}


.slider-image{
    @apply h-[200px] rounded-2xl w-[100px] hover:w-[50%] transition-all duration-500
}





::-webkit-scrollbar {
    background-color: rgb(45, 44, 62);
    width: 13px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
    height: 10px; /* Set the height as needed */
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(rgb(131, 39, 39),rgb(76, 46, 134));
    border-radius: 5px;
    height: 10px; /* Set the height as needed */
}



